pipeline/pipelinefilter.json
{
	"name": "pipelinefilter",
	"properties": {
		"activities": [
			{
				"name": "Filteractivity",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('vals')",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(item(), 'pu'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filteractivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vals",
					"value": {
						"value": "@activity('Filteractivity').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vals": {
				"type": "Array",
				"defaultValue": [
					"ganavi",
					"punu",
					"prathi"
				]
			},
			"msg": {
				"type": "String"
			}
		},
		"folder": {
			"name": "controlflows"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-16T06:50:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}