pipeline/pipelineuserinputs.json
{
	"name": "pipelineuserinputs",
	"properties": {
		"activities": [
			{
				"name": "Iteratetablelist",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.table",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Appendtableitems",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TblListmessage",
								"value": {
									"value": "@item().TABLE_NAME",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Setresult",
							"description": "",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Appendtableitems",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [
								{
									"name": "Tableitem",
									"value": "string"
								}
							],
							"typeProperties": {
								"variableName": "TblListmessage",
								"value": {
									"value": "@join(variables('Tableitem'),',')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Iteratetablelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Tableitem",
					"value": {
						"value": "@pipeline().parameters.table",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"table": {
				"type": "string"
			}
		},
		"variables": {
			"TblListmessage": {
				"type": "String"
			},
			"Tableitem": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ControlFlow"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-16T09:09:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}